<div class="container">
  <a class="top-left" href="/profile/edit">Edit Profile</a>
<a id="logout" class="top-right" href="/logout">Log Out</a>
  <div class="left">
<h2 class="padding-bottom">1. Lost in Translation</h2>
<div class="padding-bottom">
    <p class="padding-bottom">
    Translators are a rare species whose skills range from linguistic conquering of multiple languages to ascetic self-discipline and modesty. They are a crucial link in the process of exchanging ideas, knowledge and experience between people and cultures. Even though, without them, we could not get closer to the mysterious notions of connection and understanding, they are often overlooked and neglected.
</p>
<p>Sign this petition to help them in demanding better working conditions and financial compensation for the important work they are doing.
</p>
</div>
</div>
<form class="right signature" method="POST">
    {{#if error}} <div class="error">O-ou, something went wrong. We are very sorry, please try again!</div> {{/if}}
    <p>Signature</p>
    <canvas id="canv" width="300px" height="50px"><input id="canv-input" type="hidden" name="signature"></canvas>
    <div class="button"><button id="button">SIGN</button></div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
</div>
