<div class="container">
    <a class="top-right" href="/logout">Log Out</a>
    <div class="left">
<div>If you wish, let us get to know you better:</div>
{{#if error}} <div class="error input-fields">O-ou, something went wrong. We are very sorry, please try again!</div> {{/if}}
</div>
<form class="right" method="POST">
    <div class="input-fields">
    <p>Age</p>
    <input type="number" id="age" name="age">
    </div>
    <div class="input-fields">
    <p>City</p>
    <input type="text" id="city" name="city">
    </div>
    <div class="input-fields">
    <p>Website</p>
    <input type="text" id="url" name="url">
   </div>
    <div class="button"><button id="button">SUBMIT</button></div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    
</form>
</div>