<div>If you wish, give us some more information about you:</div>
<form method="POST">
    {{#if error}} <div>O-ou, something went wrong. We are very sorry, please try again!</div> {{/if}}
    <p>Age</p>
    <input type="text" id="age" name="age">
    <p>City</p>
    <input type="text" id="city" name="city">
    <p>Website</p>
    <input type="text" id="website" name="website">
   
    <div><button id="button">Submit</button></div>
     
     <a href="login">Already registered?</a>
     {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{!-- add this form field in every form i will have!!!!!! --}}
</form>